
         
        
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>

    <img class="b-img" src="{{url_for('static',filename='css/Kidney-blk.jpeg')}}">
    <div class="shade">
        <!-- Transparent fade -->

    </div>
    <nav>
        <a id ="aa" href="/Predictions" target="_blank" class="btn btn-danger btn-round">Prediction Page</a>
    </nav>

    <div class="h-tit">
        <h1>Chronic Kidney Disease Prediction</h1>
    </div>
</body>


</html>